.upper-room
  .upper-room__country-name
    %h2 
      = @group.name
  .upper-room__options
    %ul
      %li 
        = link_to "マイページ", edit_user_path(current_user)
      %li 
        = link_to "ログアウト", destroy_user_session_path, method: :delete
      -# %li 国一覧
      -# %li この国の詳細