-# .main-space
-#   .main-space__chat-space
-#     .main-space__chat-space__center
-#       .main-space__chat-space__center__chat-room
-#         .main-space__chat-space__center__chat-room__one-info
-#           .main-space__chat-space__center__chat-room__one-info__user-box
-#             %p.icon
-#             %p.name 芳根京子
-#           .main-space__chat-space__center__chat-room__one-info__text-box
-#             %p.date 1997/02/28
-#             %p.text 芳根京子の生年月日
.main-space
  .main-space__chat-space
    - @group.each do |g|
      = link_to group_messages_path(g) do
        = g.name + 'chat'