.upper-bar
  .upper-bar__country-name
    %h2 
      各国の情報
  .upper-bar__options
    %ul
      %li
        = link_to "マイページ", edit_user_path(current_user) 
      %li 
        = link_to "ログアウト", destroy_user_session_path, method: :delete